:root {
    --clr-primary-1: hsl(22, 89%, 52%);
    --clr-primary-1-hover: hsl(22, 100%, 69%);
    --clr-primary-2: hsl(220, 50%, 17%);
    --clr-body: hsl(221, 23%, 58%);
    --clr-secondary-1: hsl(198, 28%, 93%);
    --clr-secondary-2: hsl(0, 0%, 100%);
}