@use 'global/functions' as *;

@media (width > em(767)) {
    .body-wrapper {
        padding-block-start: clamp(40px, 22.85px + 2.2321vw, 55px);
        padding-block-end: 43px;
        overflow: clip;
        padding-inline-start: clamp(40px, -102.856px + 18.6011vw, 165px);
        max-inline-size: rem(1440);
    }

    .header {
        margin-block-end: rem(62);
        padding-inline-start: 0;
    }

    .product {
        flex-direction: row;
        column-gap: clamp(4.3125rem, 0.3125rem + 8.3333vw, 7.8125rem);

        &__info {
            padding: 0;
            align-self: center;
            flex: 1 0 339px;
        }

        &__title {
            max-width: 15ch;
        }

        &__desc {
            font-size: var(--fs-body-secondary);
            max-width: 45ch;
        }

        &__image-wrapper {
            width: rem(478);
            height: rem(425);
            flex: 0 0 auto;
        }
        
        &__image {
            transform: none;
            width: 100%;
            height: 100%;
        }
    }

    .gallery {
        margin-block-end: rem(142);
        row-gap: rem(72);

        &__images {
            transform: none;
            padding-inline-end: clamp(40px, -102.345px + 18.5344vw, 83px);
        }

        &__details {
            flex-direction: row;
            align-items: stretch;
            gap: rem(98);
            text-align: start;
            padding-inline-end: 40px;
        }

        &__title {
            padding-inline: 0;
            max-width: 15ch;
        }
        
        &__desc {
            align-self: center;
            padding-inline: 0;
            margin-block-end: 0;
        }
    }

    .features {
        text-align: left;
        margin-block-end: rem(142);
        padding-inline: 0;
        padding-inline-end: 98px;
        grid-template-areas: 
        'c1 c2'
        'c3 c4';

        &__item {
            align-items: flex-start;
        }

        &__details {
            align-items: flex-start;
        }
    }
}

@media (width >= em(1000)) {
    body {
        display: grid;
        place-content: center;
    }

    .body-wrapper {
        padding-inline-end: clamp(0px, -375px + 37.5vw, 165px);
        padding-block-end: 39px;
    }
    main {
        position: relative;
    }

    .header {
        padding-inline-end: 0;
    }
    
    .product {
        margin-block-end: rem(30);

        &__info {
            max-inline-size: 445px;
            align-self: auto;
            margin-block-start: rem(60);    
        }

        &__image-wrapper {
            width: 540px;
            height: 480px;
            flex: 0 0 auto;
        }

        &__rect-decor {
            display: block;
            position: absolute;
            width: clamp(0rem, -36.2215rem + 57.9545vw, 15.9375rem);
            height: rem(240);
            right: 0;
            transform: translateX(rem(285));
        }
    }

    .gallery {
        flex-direction: row;
        position: relative;
        column-gap: rem(114);
        margin-block-end: rem(168);

        &__rect-decor {
            display: block;
            position: absolute;
            width: clamp(0rem, -36.2215rem + 57.9545vw, 15.9375rem);
            height: rem(240);
            left: 0;
            bottom: 0;
            transform: translateX(rem(-285));
        }

        &__details {
            flex-direction: column;
            gap: rem(27);
            align-self: center;
            padding-inline-end: 0;
        }

        &__images {
            padding-inline-end: 0;
            align-items: flex-start;
        }
    }

    .features {
        margin-block-end: rem(128);
        padding-inline-end: 0;
        column-gap: rem(30);
        grid-template-areas: 
        'c1 c2 c3 c4';
    }
}