@use 'global/functions' as *;
@use 'global/mixins' as m;

.body-wrapper {
    padding-block-start: clamp(24px, 8.73px + 4.0712vw, 40px);
    padding-block-end: 50px;
}
.header {
    padding-inline: clamp(24px, 8.73px + 4.0712vw, 40px);
    margin-block-end: rem(64);
    &__button {
        @include m.button(var(--clr-primary-2), var(--clr-secondary-1));
    }
}